<!DOCTYPE html>
<html lang="en">
<head>
  <title>Work Order</title>

</head>
<body>
  <p id="notice"><%= notice %></p>

  <div class="container-fluid">
  	<div class="row contRow">
  		<div class="col-md-12">
  			<div class="jumbotron">
  				<h2>
  					Work Orders
  				</h2>
  				<p>
  					Check the orders grid to see your schedule
  				</p>
  				<p>
  					<a class="btn btn-primary btn-large" href="#">Learn more</a>
  				</p>
  			</div>

        <div class="container order-grid">
          <% count = 1 %>
          <% hour = 6 %>
          <% 15.times do |row| %>

    			<div class="row outside-grid">
    				<div class="col-md-1">

              <%= "TIME" if count === 1 %>
              <% if count > 1 %>
              <% min = ":00" %>

              <%= "#{hour}#{min}" %>
              <% hour += 1 %>
              <% end %>
    				</div>

            <% @technicians = Technician.all %>
            <% @technicians.each do |tech| %>
            <%= puts "tech name #{tech.name}" %>
    				  <div id="time-col"class="col-md-2">
                <%= tech.name if count === 1 %>
    				  </div>
            <% end %>
    				<div class="col-md-2 tech1">

    				</div>

    				<div class="col-md-1">
              blank
    				</div>
    			</div>
          <% count += 1 %>
          <% end %>


        </div> <!-- end of grid container fluid-->
  		</div>
  	</div>
  </div>

</body>
</html>
